<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Netflix Recommendation System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/index.css') }}"
    />
  </head>
  <body>
    <div>
      <h1><mark>Netflix Recommendation System</mark></h1>
      <p><span>ENTER A TV-SHOW/MOVIE NAME THAT YOU JUST WATCHED</span></p>

      <form name="passdata" action="/about" method="post">
        <input
          type="text"
          name="moviename"
          placeholder="Enter Movie/TV Show Name"
          required
        />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
